<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoQA Test Suite" parallel="tests" thread-count="2">
    <!-- Chrome Tests -->
    <test name="Chrome Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.TextBoxTest"/>
            <class name="tests.CheckBoxTest"/>
            <class name="tests.RadioButtonTest"/>
            <class name="tests.ButtonsTest"/>
            <class name="tests.AlertsTest"/>
            <class name="tests.FormsTest"/>
            <class name="tests.WebTablesTest"/>
        </classes>
    </test>
    
    <!-- Firefox Tests -->
    <test name="Firefox Tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.TextBoxTest"/>
            <class name="tests.CheckBoxTest"/>
            <class name="tests.RadioButtonTest"/>
            <class name="tests.ButtonsTest"/>
            <class name="tests.AlertsTest"/>
            <class name="tests.FormsTest"/>
            <class name="tests.WebTablesTest"/>
        </classes>
    </test>
</suite>

